* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Princess Sofia', sans-serif;
    background-color: #31473A;
}

header {
    font-size: 5vmin;
    padding: 1vmin;
    margin: 2vmin;
    color: #7C8363;
}

#game {
    display: flex;
    align-items: center;
    margin: 1vmin;
    border-radius: 5vmin;
    padding: 1vmin;
    background-color: #7C8363;
    color: #EDF4F2;
}

#timer {
    text-align: center;
    margin: 1vmin;
    padding: 1vmin;
    font-size: 2vmin;
}

h3 {
    font-size: 3.5vmin;
}

p {
    padding: 0.5vmin;
    border-radius: 1.5vmin;
    border: 2px solid;
    height: 6vmin;
    font-size: 3vmin;
}


#board {
    display: grid;
    width: 80vmin;
    height: 80vmin;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1vmin;
    row-gap: 1vmin;
}

#board > div {
    border-radius: 4vmin;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF4F2;
}

button {
    margin: 1vmin;
    padding: 1vmin;
    font-size: 3vmin;
    font-family: 'Princess Sofia', sans-serif;
    border-radius: 2vmin;
    background-color: #EDF4F2;
    border: 3px solid #31473A;
    color: #31473A;
}

#restart {
    visibility: hidden;
}

img {
    height: 19vmin;
    width: 19vmin;
    border-radius: 20%;
    opacity: 0;
}